<div class="container">

    <h1>Detalles de {{title}}</h1>

    <hr>

    <div class="row">
        <div class="col-md-8">
            <h3>Detalles</h3>
            <p><strong>Sinopsis:</strong> {{description}}</p>
            <p><strong>Puntuación:</strong> {{rating}}</p>
        </div>
        <div class="col-md-4">
            <h3>Autores/as</h3>
            {{#each author}}
            <img src="{{pictureUrl}}" alt="{{name}}" style="width: 100%">
            <p>{{name}} {{lastName}} ({{nationality}})</p>
            {{/each}}
        </div>
    </div>

    <hr>

    <a href="/libros/listado" class="btn btn-dark">Volver al listado</a>

</div>